/* Importing downloaded font */
@font-face {
  font-family: 'MyFont', sans-serif;
  src: url('./my-font.ttf') format('ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  border: 3px solid green;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: fit-content;
  margin: 10rem auto 0;
}